{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="contact">Contact</div>
    <div id="contactForm">
        <h1>Keep in touch!</h1>
        <small>I'll get back to you as quickly as possible</small>
        <form action="#">
            <input placeholder="Name" name="message-name" type="text" required />
            <input placeholder="Email" name="message-email" type="email" required />
            <input placeholder="Subject" name="message" type="text" required />
            <textarea placeholder="Comment" name="message-comment"></textarea>
            <input class="formBtn" type="submit" />
            <input class="formBtn" type="reset" />
        </form>
    </div>
{% endblock %}
